.navbar{
height: 80px;


.wrapper{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;

  .item{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
  }

  .left{
    font-size: 30px;
    letter-spacing: 2px;
  }
  .center{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .right{
    display: flex;
    align-items: center;
    gap: 22px;

    .icons{
      display: flex;
      gap: 12px;
      color: #777;
      cursor: pointer;
      .cartIcon{
        position: relative;

        span{
          position: absolute;
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: white;
          background-color: #2879fe;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
}
